html {
		font-family: 'Helvetica';
}

h1 {
	text-align: center;
	font-weight: bold;
}

h2 {
	text-decoration: underline;
}

#nav {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-style: italic;
	text-align: center;
	line-height: 70%;
	border-bottom: solid;
    font-weight: 
}

#header-mid {
	text-align: center;
	line-height: 70%;
}

#header-left {
	line-height: 70%;
}

#header-right {
	float: right;
	line-height: 70%;

}