html {
    font-family: "Helvetica";
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

p {

}

#navigation {
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 70%;
    border-bottom: solid;
}

#header-mid {
    text-align: center;
    line-height: 70%;
}

#bio {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#header-right {
    float: right;
    line-height: 70%;
}

#header-left {
    line-height: 70%;
}

