h1 {
	text-align: center;
	font-family: 'Trebuchet MS';
	font-weight: bold;
}

#header-mid {
	text-align: center;
}

#header-left {
	font-family: 'Trebuchet MS';
}

#header-right {
	font-family: 'Trebuchet MS';
	text-align = right;
}